@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title</h2>


<div class="panel panel-primary">
    <div class="panel-heading">@ViewBag.Message</div>
    <div class="panel-body">
        <address>
            Córdoba capital<br />
            <abbr title="Teléfono">P:</abbr>
            3549-634105
        </address>

        <address>
            <strong>Email:</strong>   <a href="mailto:zratemanu@gmail.com">zratemanu@gmail.com</a><br />
            <strong>LinkedIn:</strong> <a href="www.linkedin.com/in/manuel-zárate-a08434131">www.linkedin.com/in/manuel-zárate-a08434131</a>
        </address>
    </div>
</div>